<div class="show">
 <p><strong>Title:</strong> <%= @book.title %></p>
 <p><strong>Body:</strong> <%= @book.body %><p>
 </div>

<div>
  <%= link_to("Edit","/bookers/#{@book.id}/edit") %> | <%= link_to("Back", "/bookers") %>
</div>