// Place all the styles related to the bookers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
    width: 90%;
    margin: 0 10px 0 10px;
}

th:first-child {
    width: 15%;
}
th:nth-child(2) {
    width: 50%;
}
th:nth-child(3) {
    width: 25%;
}

tr.contents {
   text-align: left;
   font-family: serif;
}

.content {
    padding: 5px;
}

.link a {
    color: black;
    margin-right: 15px;
}

.new {
    margin-top: 40px;
}

.post-form h4 {
    margin-bottom: 0;
}


.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show p {
    font-size: 16px;
    margin: 33px;
}

.alert {
    color:#262626; 
    background:#FFEBE8;
    text-align: left;
    border: 2px solid #990000;
    padding-bottom: 12px; 
    font-weight: 850;
    width: 60%;
    margin: 0;
}

.alert-message {
    height: 30px;
    width: auot;
    margin-bottom: 12px;
    background-color: red;
    border-bottom: 2px solid #990000;
}

.alert ul {
    margin: 0;
    font-family: fangsong;
    font-size: 12px;
}

.alert h3 {
    line-height: 30px;
    color: white;
    margin: 0 10px;
}